Repository Fundo-Patronos/centro-de-carreiras, pull requests merged in 2024-09, with the labels that each got.

#44 Docs/api endpoint design
  planning/api/api-documentation.md
  planning/api/swagger.json
Labels: Back-End

#46 Nocodb integration
  backend/alembic/env.py
  backend/app/crud/opportunities_table.py
  backend/app/crud/users_table.py
  backend/app/database.py
  backend/app/database/__init__.py
  backend/app/database/database.py
  backend/app/models/opportunity.py
  backend/app/models/user.py
Labels: Task, Back-End

#50 Inicialização do Frontend
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/next.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.mjs
  frontend/public/favicon.ico
  frontend/src/app/components/Button.js
  frontend/src/app/fonts/GeistMonoVF.woff
  frontend/src/app/fonts/GeistVF.woff
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/mentoria/page.tsx
  frontend/src/app/page.tsx
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Labels: Front-End
